<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calc</title>
</head>
<body>
    <h1>Calculator</h1>

    <input type="text" size=5 name="a"> +
    <input type="text" size=5 name="b"> =
    <span id="result">?</span>

    <br/>

    <a href=# id="calc">Calculate!</a>

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
    <script type="text/javascript">
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script type="text/javascript">
        $(function() {
           $('a#calc').bind('click', function () {
               $.getJSON($SCRIPT_ROOT + '/_calc', {
                   a: $('input[name="a"]').val(),
                   b: $('input[name="b"]').val()
               }, function(data) {
                   debugger;
                   $('#result').text(data.ans);
               });
               return false;
           });
        });
    </script>
</body>
</html>